@font-face {
    font-family: 'Orbitron';
    font-size: normal;
    font-weight: 400;
    src: url('../../public/fonts/Orbitron/static/Orbitron-Regular.ttf');
}

.orbitron-regular {
    font-family: 'Orbitron';
}

body {
    margin: 0 auto;
}

.start-screen {
    background: linear-gradient(to right, #000000 56%, #57B8FF 44%);
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.heaeder-logo {

}

.nav {

}

.nav-list {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.nav-list-item {
    padding: 0 60px 0 0;
}

.nav-list-item:last-child {
    padding: 0;
}

.nav-list-link {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-list-link:hover {
    color: #FAC422;
}

.nav-list-link:active {
    color: #FFFFFF;
}

.contacts {
    display: flex;
    align-items: center;
}

.cart {
    position: relative;
    padding: 0 40px 0 0;
}

.cart-link {

}

.cart-number {
    position: absolute;
    width: 21px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    border-radius: 100%;
    top: -8px;
    left: 32px;
    background-color: white;
}

.contact-us {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05rem;
    padding: 16px 31px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}

.contact-us:hover {
    color: #57B8FF;
    background-color: #FFFFFF;
}

.contact-us:active {
    color: #FFFFFF;
    background-color: #57B8FF;
}











.start-screen_info {
    position: relative;
    background-image: url(/amoCRM-2/public/content-img.png);
    background-repeat: no-repeat;
    background-position: 92% 43%;
    padding: 0 0 81px 0;
}

.social-media {
    transform: rotate(-90deg);
    position: absolute;
    top: 420px;
    left: -118px;
}

.social-media-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media-list_item {
    padding: 0 50px 0 0;
}

.social-media-list_item:last-child {
    padding: 0;
}

.social-media-list_link {
    font-size: 11px;
    line-height: 25px;
    color: #80858F;
    text-decoration: none;
    text-transform: uppercase;
}

.social-media-list_link:hover {
    color: #d0d2d6;
}

.social-media-list_link:active {
    color: #80858F;
}


.start-screen_content {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    padding: 169px 60px;
}

.content-future {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #57B8FF;
    text-transform: uppercase;
}
 
.content-future::before {
    content: url('../../public/fire.svg');
    padding: 0 5px 0 0;
} 

.content-title {
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.039rem;
    color: #FFFFFF;
    margin: 0;
}

.underline {
    position: relative;
}

.underline::before {
    position: absolute;
    content: url('../../public/underline.svg');
    top: 28px;
    left: 0;
}

.content-text {
    font-size: 18px;
    line-height: 28px;
    color: #999999;
    padding: 26px 0 0 0;
}

.content-buttons {
    padding: 32px 0 0 0;
}

.content-button {
    padding: 21px 34px;
    border: none;
    margin: 0 2px 0 0;
    color: #FFFFFF;
    background-color: black;
}

.content-button:hover {
    cursor: pointer;
    background-color: #57B8FF;
}

.content-button:active {
    cursor: auto;
    background-color: black;
}

.content-button-txt {
    font-size: 18px;
    line-height: 28px;
}










.customize {
    display: flex;
    justify-content: flex-end;
    background-image: url('../../public/customize-bg-img.png');
    background-repeat: no-repeat;
    background-position: 60px 0;
    background-color: #2A313C;
}

.customize-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 81px 60px 93px 0;
}

.customize-title {
    color: #FFFFFF;
    margin: 0;
    font-size: 63px;
    line-height: 74px;
    letter-spacing: 0.06rem;
    padding: 13px 0 0 0;
}

.customize-text {
    font-size: 20px;
    line-height: 30px;
    color: #DFDFDFCC;
    padding: 33px 0 64px 0;
    margin: 0;
    letter-spacing: 0.035rem;
}

.customize-imgs {
    display: flex;
    justify-content: space-between;
    
}

.customize-img-link {

}

.customize-img {
    display: block;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 5px;
}

.customize-img:hover {
    background-color:  #3B3D46;
}

.customize-img:active {
    background-color:  #2A313C;
}





.news {
    background-color: #000;
    padding: 130px 60px 100px 60px;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 68px 0px;
}

.news-header-titles {

}

.news-header-title {
    font-size: 64px;
    line-height: 74px;
    max-width: 650px;
    color: #FFFFFF;
    margin: 0;
    padding: 15px 0 0 0;
}

.news-header-btn {
    padding: 21px 34px;
    background-color: #57B8FF;
}

.news-header-btn-txt {
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;

}

.news-content {
    display: flex;
    justify-content: space-evenly;
}

.news-little-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.news-item {
    display: flex;
    flex-direction: column;
    padding: 0 0 38px 0;
}

.news-item-img {
    display: block;
}

.news-item-date {
    font-size: 18px;
    line-height: 18px;
    color: #57B8FF;
    padding: 30px 0 20px 0;
}

.news-item-title {
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 0.05rem;
}

.news-little-articles > .news-item {
    max-width: 312px;
}

.news-content > .news-item {
    max-width: 648px;
}

.news-little-articles > .news-item > .news-item-title  {
    font-size: 23px;
    line-height: 34px;
}

.news-little-articles > .news-item > .news-item-date  {
    font-size: 16px;
    line-height: 16px;
    padding: 19px 0 2px 12px;
}


footer {
    background-color: #222730;
    display: flex;
    padding: 130px 60px;
}

.footer-colomn {
    max-width: 290px;
    padding: 0 150px 0 0;
}

.footer-colomn:last-child {
    padding: 0 0 0 60px;
}

.footer-colomt-title {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 0 0 24px 0;
}

.footer-colomn-text {
    font-size: 15px;
    line-height: 25px;
    color: #999999;
    padding: 30px 0 0 0;
    margin: 0;
}

.footer-colomn-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.colomn-list-item {

}

.colomn-list-link {
    font-size: 15px;
    line-height: 37.5px;
    color: #999999;
    text-decoration: none;
}
